@import "./lib/core/reset";
@import "./usage/common/common";
@import "./usage/module/first";
@import "./usage/module/home";
@import "./usage/module/mine";
html,body{
	width:100%;
	height:100%;
	overflow:hidden;
}
html{
	font-size:625%;
}
body{
	font-family:"微软雅黑";
}

spa-app{
   position:absolute;
   overflow:hidden;
}
spa-view{
    position:absolute;
    z-index:0;
	top:0;
	left:0;
	bottom:0;
	width:100%;
	background:#eceef0!important;
	display: -webkit-flex;
	-webkit-flex-direction:column;
}